PORT=4000
SUPABASE_URL=https://vtmkiuyjvahngutoejzd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0bWtpdXlqdmFobmd1dG9lanpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk0Njg0NjEsImV4cCI6MjA2NTA0NDQ2MX0.XuWUu4QOITjTDv19Htq5bzwVkMXritN_Ixxd4jn0BXM

DOCUMENTAI_PROJECT_ID=mukti-view-account
DOCUMENTAI_LOCATION=us
DOCUMENTAI_PROCESSOR_ID=f055b2f5a994ed78
# GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json
# DOCUMENTAI_SA_KEY={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"..."}
