NODE_ENV=development
PORT=4000
SUPABASE_URL=https://vtmkiuyjvahngutoejzd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0bWtpdXlqdmFobmd1dG9lanpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk0Njg0NjEsImV4cCI6MjA2NTA0NDQ2MX0.XuWUu4QOITjTDv19Htq5bzwVkMXritN_Ixxd4jn0BXM
JWT_SECRET=MuKTi84HId26067_kdkdkDkPeCHgJIHaSdF
APP_NAME=Mukti Super
# Leave REDIS_URL unset to use in-memory store in dev
REDIS_URL=redis://default:C68S3Us2cx9Yt7UvTD1cszDxfE33gP1M@redis-18117.crce276.ap-south-1-3.ec2.cloud.redislabs.com:18117
SMTP_USER=taskive7@gmail.com
SMTP_PASS=apwaqrwczgtlsvpg
TELEGRAM_BOT_TOKEN=8071080888:AAE33S7eJkBH5lkeEOe256q9ftYrjAJdzes

DOCUMENTAI_PROJECT_ID=cityclick
DOCUMENTAI_LOCATION=us
DOCUMENTAI_PROCESSOR_ID=4d551c49c265c3c9
HCAPTCHA_SECRET=ES_dc9d0e592e704ff3b3b6b6e1062150ea
HCAPTCHA_ENABLED=true
DEBUG_ADMIN_LOOKUP=true
